.menu-cover {
	z-index:999;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	overflow: auto;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	pointer-events: none; 
	font-style: inherit;
	font-family: proxima-nova, "proxima nova", "helvetica neue", helvetica, arial, sans-serif;
}
body.noscroll .menu-cover {overflow: hidden; }
.menu-cover .menu {
	background-color: var(--theme-color1);
	color: #fff;
	width: 100%;
	height: 100%;
	text-align: left;
	pointer-events: all;
	overflow-y: auto;
}
.menu-cover .menu ul {padding: 0; }
.menu-cover .menu ul li {list-style: none;overflow-y: hidden; }
.menu-cover .menu .close {
	border: none;
	padding: 12px;
	display: block;
	width: 100%;
	text-align: left; 
}
.menu-cover .menu .close + ul {border-top: 1px solid; }
.separate{
	border-bottom: 1px solid;
}
.menu-cover .menu .menu-item {
	font-size: 18px;
	margin-bottom: 0;
	padding: 12px;
	cursor: pointer; 
}
.menu-cover .menu .menu-item a {
	color: inherit;
	display: block; 
}
.menu-cover .menu .menu-item a, .menu-cover .menu .menu-item a:hover, .menu-cover .menu .menu-item a:focus {
	text-decoration: none; 
}

.menu ul a .fa{
	float: right;
	font-size:20px;
}

