*{
	margin: 0;
	padding: 0;
}

.container{
	width: 90%;
	margin:5rem auto;
}
header{
	text-align: center;
	/*font-size: 150%;*/
}
header>img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2rem;
	margin-top: 1rem;
	width: 100%;

}
h3{
	/*font-size: 120%;*/
}
.editable-elt{
	border-radius: 3px;
	/*margin: 3px;
	padding: 2px;*/
}

.row>div{
	/*display: inline-block;*/
	display: inline-flex;
	align-content: left;
	justify-content: left;
	/*border:1px solid #345411;*/
	/*padding: 3px;
	margin: 1rem auto 1rem;*/
	/*border:1px solid #000000;*/
}
.col-9>div,.col-3>div{
	/*display: inline-flex;*/
	margin: auto;
	border:1px solid #eeeeee;
}

.col-9{
	width: 70%;
}
.col-3{
	width: 15%;
}
.editing-elt{
	border: 1px solid #000000;
	border-radius: 3px;
	padding: 3px;
}
.btn{
	border:1px solid #e344c8;
	border-radius: 3px;
	padding: .5rem;
	cursor: pointer;
	min-width: 4rem;
	min-height: 3rem;
	/*margin-bottom: 2rem;*/

	display: block;
	margin-left: auto;
	margin: auto;
}
.btn-editing{
	background-color: #ee4400;
}
#upload_link{
	text-decoration: none;
}
#upload{
	display: none;
}
footer{
	margin-top: 4rem;
}
@media screen and (max-width: 420px){
  .btn{
  	font-size: 12px;
  }
}